<?php
$aop[] = array(
		"pointcut"=>array("class"=>'test\Test', "action"=>"test"),
		"before" => array(
				array("file" => "test/test", "class"=>'test\Test', "action" => "before"),
			),
		"after" => array(
				array("file" => "test/test", "class"=>'test\Test', "action" => "after"),
			),
	);
return $aop;