<?php

require_once "BF/core/ApplicationConfig.php";
//controller 配置 以及 aop 配置
class AppConfig extends bf\core\ApplicationConfig{
	public function getContextConfig(){
		$context = array();
		$context["aop"] = include "aop.config";
		$context["controllers"] = include "controller.config";
		return $context;
	}
	public function getRouteConfig(){
		return  include "route.config";
	}
	public function getRoleConfig(){
		return include "roles.config";
	}
	public function getSqlConfig(){
		return include "sql.config";
	}
}
return new AppConfig();

