<?php

return array(
	array(  "rid" => "editor",
			"parent"=>"xman",
			"routes" => array(
					array("route"=>"/edit"),
					array("route"=>"/test/edit"),
					array("route"=>"/test2/edit"),
					array("route"=>"/test4/edit")
				)
		),
	array(  "rid" => "xman",
			"routes" => array(
					array("route"=>"/edit"),
					array("route"=>"/test/edit"),
					array("route"=>"/test2/edit"),
					array("route"=>"/test4/edit")
				)
		)
);