<?php
/**
*
*
*/
return  array(
			array("path"=>"/test", 			"class" => 'test\Test',	 "action"=>"test", "file"=>'test/test', "result"=>array("type"=>"html", "view"=>"index.php")),
			array("path"=>"/test/test", 	"class" => 'test\Test',	 "action"=>"test", "file"=>'test/test', "result"=>array("type"=>"json")),
			array("path"=>"/test2/edit", 	"class" => 'test\Test',	 "action"=>"test"),
			array("path"=>"/log", 			"class" => 'LoggerHandler',	 "action"=>"log", "file"=>'log/c/log', "result"=>array("type"=>"json")),
			array("path"=>"/log/app/register", 			"class" => 'AppHandler',	 "action"=>"register", "file"=>'app/c/AppHandler', "result"=>array("type"=>"json")),

			array("path"=>"/log/app/query", 			"class" => 'AppHandler',	 "action"=>"query", "file"=>'app/c/AppHandler', "result"=>array("type"=>"json", "view"=>"app/index.php")),
			array("path"=>"/log/app/view", 			"class" => 'AppHandler',	 "action"=>"query", "file"=>'app/c/AppHandler', "result"=>array("type"=>"html", "view"=>"app/index.php")),
			array("path"=>"/log/app/addBuild", 			"class" => 'AppHandler',	 "action"=>"addBuild", "file"=>'app/c/AppHandler', "result"=>array("type"=>"json")),
			/*api config*/
			array("path"=>"/api/v1/iBox/vod/config", 			"class" => 'ApiConfigHandler',	 "action"=>"config", "file"=>'api/c/ApiConfig', "result"=>array("type"=>"json")),

			array("path"=>"/api/v1/query/movie", 			"class" => 'MediaHandler',	 "action"=>"query", "file"=>'api/c/MediaHandler', "result"=>array("type"=>"json")),
		);