<?php
/**
*
*
*/
return  array(
			array("path"=>"/test/", 			"class" => 'test\Test',	 "action"=>"test", "file"=>'test/test', "result"=>array("type"=>"html", "view"=>"index.php")),
			array("path"=>"/test/test/", 	"class" => 'test\Test',	 "action"=>"test", "file"=>'test/test', "result"=>array("type"=>"json")),
			array("path"=>"/log/", 			"class" => 'LoggerHandler',	 "action"=>"log", "file"=>'log/c/log', "result"=>array("type"=>"json")),

			array("path"=>"/app/register/", 			"class" => 'AppHandler',	 "action"=>"register", "file"=>'app/c/AppHandler', "result"=>array("type"=>"json")),

			array("path"=>"/app/query/", 			"class" => 'AppHandler',	 "action"=>"query", "file"=>'app/c/AppHandler', "result"=>array("type"=>"json", "view"=>"app/index.php")),

			array("path"=>"/app/view/", 			"class" => 'AppHandler',	 "action"=>"mgr", "file"=>'app/c/AppHandler', "result"=>array("type"=>"html", "view"=>"app/app.php")),


			array("path"=>"/app/products/view/", 			"class" => 'AppHandler',	 "action"=>"queryProduct", "file"=>'app/c/AppHandler', "result"=>array("type"=>"html-json", "view"=>"app/query-product.php")),

			array("path"=>"/app/builds/view/", 			"class" => 'AppHandler',	 "action"=>"queryBuilds", "file"=>'app/c/AppHandler', "result"=>array("type"=>"html-json", "view"=>"app/query-product-builds.php")),

			array("path"=>"/app/add/build/", 			"class" => 'AppHandler',	 "action"=>"addBuild", "file"=>'app/c/AppHandler', "result"=>array("type"=>"json")),

			array("path"=>"/app/build/download/{build_id}/", 			"class" => 'AppHandler',	 "action"=>"download", "file"=>'app/c/AppHandler', "result"=>array("type"=>"stream")),

			/***********  api config ************/
			array("path"=>"/api/v1/iBox/vod/config/", 			"class" => 'ApiConfigHandler',	 "action"=>"config", "file"=>'api/c/ApiConfig', "result"=>array("type"=>"json")),

			array("path"=>"/api/v1/{module}/query/", 			"class" => 'MediaHandler',	 "action"=>"query", "file"=>'api/c/MediaHandler', "result"=>array("type"=>"json")),

			array("path"=>"/api/v1/{module}/detail/query/{sid}/", 			"class" => 'MediaHandler',	 "action"=>"detail", "file"=>'api/c/MediaHandler', "result"=>array("type"=>"json")),

			array("path"=>"/api/v1/{module}/detail/query/", 			"class" => 'MediaHandler',	 "action"=>"detail", "file"=>'api/c/MediaHandler', "result"=>array("type"=>"json")),

			array("path"=>"/api/v1/{module}/recent/query/", 			"class" => 'MediaHandler',	 "action"=>"recent", "file"=>'api/c/MediaHandler', "result"=>array("type"=>"json")),
			array("path"=>"/api/v1/{module}/hot/query/", 			"class" => 'MediaHandler',	 "action"=>"queryRecommend", "file"=>'api/c/MediaHandler', "result"=>array("type"=>"json")),


			array("path"=>"/api/v1/statistic/view/", 			"class" => 'MediaStatisticHandler',	 "action"=>"view", "file"=>'api/c/MediaStatisticHandler', "result"=>array("type"=>"json")),

			array("path"=>"/api/v1/version/", 			"class" => 'AppVersionHandler',	 "action"=>"update", "file"=>'api/c/AppVersionHandler', "result"=>array("type"=>"json")),

			array("path"=>"/api/v1/{module}/categories/", 			"class" => 'MediaHandler',	 "action"=>"queryCategories", "file"=>'api/c/MediaHandler', "result"=>array("type"=>"json")),



			array("path"=>"/xman/", 			"class" => 'AdminHandler',	 "action"=>"admin", "file"=>'xman/c/AdminHandler', "result"=>array("type"=>"html", "view"=>"app/admin.php")),
			array("path"=>"/xman/{module}/", 			"class" => 'AdminHandler',	 "action"=>"mgr", "file"=>'xman/c/AdminHandler', "result"=>array("type"=>"html", "view"=>"app/admin-movie.php")),

			array("path"=>"/xman/{module}/query/", 			"class" => 'AdminMediaHandler',	 "action"=>"query", "file"=>'api/c/AdminMediaHandler', "result"=>array("type"=>"html-json","view"=>"app/module-movie-list.php")),

			array("path"=>"/xman/file/mgr/", 			"class" => 'FileManagerHandler',	 "action"=>"mgr", "file"=>'xman/c/FileManagerHandler', "result"=>array("type"=>"html", "view"=>"xman/file-mgr.php")),



			array("path"=>"/xman/file/dirs/query/", 			"class" => 'FileManagerHandler',	 "action"=>"dirs", "file"=>'xman/c/FileManagerHandler', "result"=>array("type"=>"json")),

			array("path"=>"/xman/file/query/json/", 			"class" => 'FileManagerHandler',	 "action"=>"query", "file"=>'xman/c/FileManagerHandler', "result"=>array("type"=>"json")),

			array("path"=>"/xman/file/query/html/", 			"class" => 'FileManagerHandler',	 "action"=>"query", "file"=>'xman/c/FileManagerHandler', "result"=>array("type"=>"html-json", "view"=>"xman/file.php")),

			array("path"=>"/xman/file/add/", 			"class" => 'FileManagerHandler',	 "action"=>"add", "file"=>'xman/c/FileManagerHandler', "result"=>array("type"=>"json")),
			array("path"=>"/xman/file/upadte/", 			"class" => 'FileManagerHandler',	 "action"=>"update", "file"=>'xman/c/FileManagerHandler', "result"=>array("type"=>"json")),

			array("path"=>"/xman/edit/", 			"class" => 'EditHandler',	 "action"=>"load", "file"=>'xman/c/EditHandler', "result"=>array("type"=>"html", "view"=>"xman/edit.php")),
			array("path"=>"/xman/media/detail/", 			"class" => 'AdminMediaHandler',	 "action"=>"detail", "file"=>'xman/c/AdminMediaHandler', "result"=>array("type"=>"json")),

			// epg
			array("path"=>"/api/v1/live/epg/search/", 			"class" => 'EpgHandler',	 "action"=>"search", "file"=>'api/c/EpgHandler', "result"=>array("type"=>"json")),

			array("path"=>"/api/v1/live/channels/", 			"class" => 'EpgHandler',	 "action"=>"queryChannels", "file"=>'api/c/EpgHandler', "result"=>array("type"=>"json")),

			array("path"=>"/api/v1/live/epgs/", 			"class" => 'EpgHandler',	 "action"=>"queryEpgs", "file"=>'api/c/EpgHandler', "result"=>array("type"=>"json")),

			array("path"=>"/api/v1/live/channels/hot/", 			"class" => 'EpgHandler',	 "action"=>"queryHotChannels", "file"=>'api/c/EpgHandler', "result"=>array("type"=>"json")),



		);