<?php

return  array(
			array("route"=>"/edit", 		"controller" => "test/test",	 "action"=>"query"),
			array("route"=>"/test/edit", 	"controller" => "test/test",	 "action"=>"query"),
			array("route"=>"/test2/edit", 	"controller" => "test/test",	 "action"=>"query"),
			array("route"=>"/test3/edit", 	"controller" => "test/test",	 "action"=>"query"),
			array("route"=>"/test4/edit", 	"controller" => "test/test",	 "action"=>"query"),
			array("route"=>"/test5/edit", 	"controller" => "test/test",	 "action"=>"query"),
		);