<?php
/**  数据库的名称 */
define('DB_NAME', 'app');
/** MySQL 数据库用户名 */
define('DB_USER', 'BKer');
/** MySQL 数据库密码 */
define('DB_PASSWORD', 'I love you, baby!');
/** MySQL 主机 */
define('DB_HOST', '114.215.109.123');
define('DB_PORT', '3306');
define('DB_DRIVER', 'mysql');
define('DB_TABLE_PREFIX', 'wp_');
/** 创建数据表时默认的文字编码 */
define('DB_CHARSET', 'utf8');

$sqlConfig = array();
$sqlConfig["live"] = array(
		"queryChannels"=>"select * from wp_tvie_live where name like '%{name}%'",
		
	);
return $sqlConfig;